<body style="width:100%; min-height: 100dvh; display: flex; flex-direction: column;" class="background">    
    <div class="navigationBar">
        <p-menubar  class="customMenuBar" [model]="items">
            <ng-template pTemplate="item" let-item let-root="root">
                <a pRipple class="flex align-items-center p-menuitem-link">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                    <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                    <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                    <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
                </a>
            </ng-template>
            <ng-template pTemplate="end">
                <div class="flex align-items-center gap-2">
                    @if(this.authService.isAuthenticated())
                    {  
                        @if(this.user != undefined)
                        {
                            <a [routerLink]="['/login']">
                                <i class="pi pi-sign-out" (click)="this.authService.logout()" style="font-size: 1.3rem; color: white; margin-right: 5px;"></i>
                            </a>
                            <h4 class="m-0 m mr-2 text-white">Welcome back, {{ this.user.username }}</h4>
                            <p-avatar [image]="this.user.image" shape="circle" [size]="'large'" />
                        }
                    }
                    @else {
                        <a [routerLink]="['/login']">
                            <p-button icon="pi pi-sign-in" [raised]="true" iconPos="right" label="Sign in" severity="primary" />
                            <!-- <i class="pi pi-sign-in" style="font-size: 1.7rem; color: white;"></i> -->
                        </a>
                    }
                </div>
            </ng-template>
        </p-menubar>
    </div>
    <article class="mainContainer">
        <router-outlet></router-outlet>
    </article>
</body>

