
    <storepage-header [windowWidth]="this.$innerWidth" (onFilterChanged)="filterChanged($event)"
                                                       (onProductChanged)="productChanged($event)"
                                                       (onSearchChanged)="searchChanged($event)"
                                                       (onSortingChanged)="sortingChanged($event)"
                                                       (onRefreshPressed)="refreshPressed()" />
    <storepage-main [products]="(this.products$ | async)!" [isLoading]="this.pagination.isLoading" [paginationLimit]="this.pagination.getPageLimit()"/>
    <storepage-footer [windowWidth]="this.$innerWidth"/>
