
    <storepage-header [windowWidth]="this.$innerWidth" (onFilterChanged)="filterChanged($event)"
                                                       (onProductChanged)="productChanged($event)"
                                                       (onSearchChanged)="searchChanged($event)"
                                                       (onSortingChanged)="sortingChanged($event)"
                                                       (onRefreshPressed)="refreshPressed()" />
    <storepage-main [products]="(this.products$ | async)!" />
    <storepage-footer [windowWidth]="this.$innerWidth"/>
